* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(249, 251, 251);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 10px; 
  }
  header nav form input[type="search"] {
        width: 800px;
        font-size: 16px;
        padding: 7px;
        border-radius: 10px;
        margin-left: 160px;
        
        
      }
  

header nav ul {
    display: none;
    margin-left: 100px;
    margin-top: 50px;
}
header nav ul a{
   margin: 30px;
}

@media(min-width:576px){

    header nav ul{
        display: flex;
    
        list-style-type: none;
        
        
    }

header nav ul li {
    
   margin: 0 10px;
}

header nav ul li a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: rgb(68, 200, 218);
    font-weight: 400;
    text-transform: uppercase;
   

}

header nav ul li a:hover {
    color: #ffffff;


}

}