.container__header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.logo {

    display: flex;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    color: white;

    img {
        margin-right: 10px;
    }

}

.menu__list {
    margin: 0;


    &-item {

    display: inline-block;
    margin: 0 .8rem;
    font-size: 17px;
    padding-right: 10px;

    a:hover{
        color: white;
    }

}

}

