h3 {
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    border: 1px solid black;

}

.carousel-inner {
    padding: 1em;
}

.cards-wrapper {
    display: flex;
    justify-content: center;

    .card {

        margin: 0 0.5em;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 5px 20px -12px rgba(0, 0, 0, 0.6);
        margin-bottom: 3rem;
        



        img:hover {
            transform: scale(1.1);

        }


    }
}

.btn{
   color: $fontColor;
   
  }



.carousel-control-prev,
.carousel-control-next {
    background-color: #3c3b3b;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;

}

.banner-marcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-bottom: 5rem;




    img {
        width: 200px;
        height: auto;

    }

}